{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/landing.css') }}">
<link rel="stylesheet" href="../static/styles/dash.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
<script src="../static/js/animation.js"></script>
{% endblock %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}
<div class="wrapper text-white">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <h3>Practice<br> Typer</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Navigation Menu</p>
            <li class="active">
                <a href="/dash/home">Home</a>
            </li>
            <li>
                <a href="#">Stats</a>
            </li>
            <li>
                <a href="/dash/settings">Settings</a>
            </li>
        </ul>

        <div class="container fluid" id="but2">
            <a href="/dash/signout"><button class="btn btn-block btn-success d-flex align-items-center justify-content-center">Sign Out</button></a>
            <div class="container-fluid text-center">
                <p id="side-footer">Powered by <a href="https://flask.palletsprojects.com/en/2.0.x/" style="color: white; text-decoration:underline;">Flask</a>.</p>
            </div>
        </div>

        <footer>

        </footer>

    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-bg-transparent text-white shadow-sm">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/dash/home">Back to Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container text-center" id="txt-cont">
            <h2>Welcome to Practice Typer!</h2>
            <br>
            <p class="text-justify">Practice Typer is a tool dedicated to optimizing your time while coding. Whether you are a beginner programmer or an experienced veteran looking to improve your typing speed, Practice Typer is the perfect tool for you!<br><br> Explore the other pages using our handy sidebar with the button on the top left of the screen. In the sidebar you can view your statistics, account settings, and our about section. From there you can also sign out. <br><br> Click the button below to begin a practice session. Don't forget to select your language of choice in user settings and, as always, happy coding!</p>
            <br>
            <h5 class="d-flex justify-content-center">Become a <em><span class="txt-rotate" data-period="1500"
                data-rotate='[  "&nbsp;better&nbsp;", "&nbsp;faster&nbsp;", "&nbsp;competitive&nbsp;", "&nbsp;fantastic&nbsp;", "&nbsp;phenomenal&nbsp;", "&nbsp;quicker&nbsp;", "&nbsp;practical&nbsp;", "&nbsp;quick-witted&nbsp;", "&nbsp;well-versed&nbsp;", "&nbsp;fluent&nbsp;"]'></span>
            </em> programmer.</h5>
        </div>
        
        <br>
        <div class="container fluid px-5" id="home-but">
            <a href="/dash/typer" id="but3" class="btn btn-lg btn-bg-transparent text-white d-flex align-items-center justify-content-center shadow rounded">Start a Session</a>
        </div>

        <footer class="pt-5 fs-6">
            <div class="px-5 text-center text-white container fluid" id="footer-cont">
                <br>
                <p class="text-center pt-4" style="font-size: small;" id="foot-text">Copyright &copy; MLH Fellowship 2021</p>
            </div>
        </footer>
    </div>
</div>

<div class="overlay"></div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>


{% endblock %}