header {
    height: 100vh;
}

.header-wrapper {
    background: linear-gradient(-45deg, #0c0032, #190061, #240090, #3500d3, #282828);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}