body
{
    font-family: 'Lato', sans-serif;
    background-color: white;
}

h3
{
    color: white;
}

.form--wrapper
{
    display: flex;
    padding: 10% 30%;
    justify-content: center;
    align-items: center;
}

.form--container
{
    display: block;
    width: 100%;
    padding: 10%;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.form--container form
{
    margin: auto;
    width: 70%;
}

.form--container input
{
    width: 100%;
    font-size: 1rem;
}

.form--container label
{
    font-size: 1rem;
}

.button
{
    text-decoration: none;
    padding: 3%;
    border-radius: 10px;
    background-color: white;
    border: black;
    color: white;
    font-size: 1rem;
}

.button:hover
{
    background-color: white;
    color: black;
}