body {
    background-color: dodgerblue;
    color: black;
    text-align: center;
  }
    
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  .heading {
    margin-bottom: 20px;
    font-size: 3rem;
    color: black;
  }
    
  .header {
    display: flex;
    align-items: center;
  }
    
  .timer, .errors, .accuracy,
  .cpm, .wpm {
    background-color: #ccda46;
    height: 60px;
    width: 70px;
    margin: 8px;
    padding: 12px;
    border-radius: 20%;
    box-shadow: black 5px 8px 5px;
  }
    
  .cpm, .wpm  {
    display: none;
  }
    
  .header_text {
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 600;
  }
    
  .curr_time, .curr_errors,
  .curr_accuracy, .curr_cpm,
  .curr_wpm {
    font-size: 2.75rem;
  }
    
  .quote {
    background-color: #ccda46;
    font-size: 1.5rem;
    margin: 10px;
    padding: 25px;
    box-shadow: black 5px 8px 5px;
  }
    
  .input_area {
    background-color: #f5f5c6;
    height: 80px;
    width: 40%;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px;
    padding: 20px;
    border: 0px;
    box-shadow: black 5px 8px 5px;
  }
    
  .restart_btn {
    display: none;
    background-color: #326765;
    font-size: 1.5rem;
    padding: 10px;
    border: 0px;
    box-shadow: black 5px 8px 5px;
  }
    
  .incorrect_char {
    color: red;
    text-decoration: underline;
  }
    
  .correct_char {
    color: darkgreen;
  }

   /* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 

label,
footer {
    font-family: sans-serif;
}

label {
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
}

footer {
    font-size: .8rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

/* .output {
    background: center/cover no-repeat url('/media/cc0-images/hamster.jpg');
    position: relative;
} */
