
    
  .timer, .errors, .accuracy,
  .cpm, .wpm {
    height: 60px;
    width: 70px;
    margin: 8px;
    padding: 8px;
    border-radius: 20%;
    /*box-shadow: black 5px 8px 5px;*/
    box-shadow: #240090 5px 8px 5px;
  }
    
  .cpm, .wpm  {
    display: none;
  }
    
  .header_text {
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 600;
  }

  .px-20 {
    padding-left: 160px;
    padding-right: 160px;
  }
    
  .curr_time, .curr_errors,
  .curr_accuracy, .curr_cpm,
  .curr_wpm {

  }

  .bg-goodblu {
    background-color: #3500d3;
  }
    
  .quote {
    background-color: #3500d3;
    font-size: 1.5rem;
    margin: 10px;
    padding: 14px;
    box-shadow: #240090 5px 8px 5px;
  }
    
  .input_area {
    background-color: #282828;
    border-color: #282828;
    color: white;

    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px;
    padding: 20px;
    border: 0px;
    height: 100v;

  }
    
  .restart_btn {
    background-color: #282828;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
  }

  .restart_btn:hover {
    background-color: #3500d3;
    box-shadow: #240090 5px 8px 5px;
    color: #fff;

  }
    
  .incorrect_char {
    color: red;
    text-decoration: underline;
  }
    
  .correct_char {
    color: darkgreen;
  }

   /* Dropdown Button */
.dropbtn {
    background-color: #3500d3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3500d3;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 

label,
footer {
    font-family: sans-serif;
}

label {
    padding-right: 10px;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
}

footer {
    font-size: .8rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

/* .output {
    background: center/cover no-repeat url('/media/cc0-images/hamster.jpg');
    position: relative;
} */
