<!-- Code modified courtesy of startbootstrap scrolling nav template by @davidtmiller -->
{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/landing.css') }}">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="../static/styles/header.css" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="../static/js/animation.js"></script>
{% endblock %}

{% block head %}
<title>Welcome to Practice Typer!</title>
{% endblock %}

{% block body %}

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container px-4">
            <a class="navbar-brand" href="#" data-target="#page-top">Practice Typer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#services">Login/Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Collaborate</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header-->
    <header class="bg-primary header-wrapper text-white d-flex align-items-center justify-content-center">
        <div class="container px-5 text-center">
            <h1 class="fw-bolder"><span class="txt-rotate" data-period="1500"
                    data-rotate='[  "Practice_Typer();", "System.out.println();", "printf();", "print()" ]'></span>
            </h1>
            <p class="lead">An interactive way to become a <em>faster</em> and <em>better</em> programmer</p>
            <a class="btn btn-lg btn-light" href="#about">Learn More!</a>
        </div>
    </header>

    <!-- About section-->
    <section id="about" data-aos="fade-up" data-aos-duration="2000">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>About Practice Typer</h2>
                    <p class="lead">Practice Typer is a time-based experience focused on honing your skills as a
                        programmer. Put your typing speed to the test by attempting to re-type common code of the
                        language of your choosing as fast as you can.
                        <br><br>
                        Practice Typer features:
                    </p>
                    <ul>
                        <li>Current support for up to 3 languages: <em>Java, C, & Python</em> </li>
                        <li>Easy-to-Use interface that's perfect for getting straight to typin' and to practicin' </li>
                        <li>User-accounts that keep track of your individual progress and in-practice stats</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Services section-->
    <section id="services">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8" data-aos="fade-up" data-aos-duration="2000">
                    <h2>Login or Register</h2>
                    <p class="lead">Access the Practice Typer experience by either logging in or creating an account. To
                        login or register please use the buttons below. Our website is free to any
                        aspiring or experienced programmer.<br><br> Happy coding!<br><br></p>
                    <a href="/login" class="btn btn-primary btn-lg btn-block">Login</a>
                    <a href="/register" class="btn btn-secondary btn-lg btn-block">Register</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact section-->
    <section id="contact" data-aos="fade-up" data-aos-duration="2000">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Collaborate With Us</h2>
                    <p class="lead">Feel free to checkout our GitHubs using any of our corresponding tags. We are open to collaborating on future projects!<br><br>
                        The team behind Practice Typer is composed of four <em>talented</em> programmers:<br>
                        <a href="https://github.com/ShantalRipa" style="text-decoration: none;"><b>@Valerie</b></a>
                        <a href="https://github.com/sgibson19" style="text-decoration: none;"><b> @Gibson</b></a>
                        <a href="https://github.com/carloshurand" style="text-decoration: none;"><b> @JuanCarlos</b></a>
                        <a href="https://github.com/carlosricov" style="text-decoration: none;"><b>@Carlos</b></a><br><br>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-4">
            <p class="m-0 text-center text-white">Copyright &copy; MLH Fellowship 2021</p>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{% endblock %}