{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="../static/styles/login.css">
{% endblock %}

{% block head %}
<title>Login Page</title>
{% endblock %}

{% block body %}
<form action="" method="post">
  <div class="container">
    <h1>Login</h1>
    <p>Fill in to login</p>
    <hr>

    <label for="username"><b>Username</b></label>
    <input type="text" id="username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>

    <!-- <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required> -->
    <hr>

    <!-- <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p> -->
    <button type="submit" class="registerbtn">Sign In</button>
  </div>

  <div class="container signin">
    <p>Don't have an account? <a href="/register">Register</a>.</p>
  </div>
</form> 

{% endblock %}
