{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="../static/styles/login.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/landing.css') }}">
{% endblock %}

{% block head %}
<title>Register Page</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="registerNav">
    <div class="container px-4">
        <a class="navbar-brand" href="/" data-target="#page-top">Practice Typer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
            </ul>
        </div>
    </div>
</nav>
<form action="" method="post">
    <div class="container2">
        <h1>Register</h1>
        <p>Fill in to register</p>
        <hr>

        <label for="name"><b>Name:</b></label>
        <input type="text" id="name" name="name" required>

        <label for="lastname"><b>Last name:</b></label>
        <input type="text" id="lastname" name="lastname" required>

        <label for="username"><b>Username:</b></label>
        <input type="text" id="username" name="username" required>

        <label for="password"><b>Password:</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>

        <!-- <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required> -->
        <hr>

        <!-- <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p> -->
        <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="container2 signin">
        <p>Already have an account? <a href="/login">Login!</a>.</p>
    </div>
</form>

{% endblock %}